
#body #background-image {
    background: url("../../public/images/Accueil.jpg") no-repeat;
    background-size: 100%;
    padding: 0;
    box-shadow: 3px 0px 15px #888888;
}

@media (max-width: 768px) {
    [id*="col-sm"]{
        display: block}
}

#form-container{
    border:solid;
    border-radius: 15px;
    border-color: black;
}
h2{
    height: 65px;
    text-align: center;
}

.topspace{
    padding-top: 20px;
}
.pres{
    padding-left: 30px;
}


.pub{
    height: 90vh;
}

p{
    padding-top: 15px;
    padding-bottom: 15px;
}
.link-button{
    background-color: white;

    text-align: center;
    text-align-all: center;
    height: 50px;
    border-radius: 5px;

}
.link-button:link, .link-button:visited {
    background-color: white;
    color: blue;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


.link-button:active {
    background-color: grey;
}
/*
https://www.generationrobots.com/fr/400833-capteur-de-distance-infrarouge.html
 */
