
.fond{
    width: auto;
}

.img_1{
    width: 100%;
}
/*.content{
    border:solid;
    border-radius: 15px;
    border-color: black;
}*/
h2{
    height: auto;
    text-align: center;
    padding-bottom: 15px;
}

.topspace{
    padding-top: 20px;
}
.pres{
    padding-left: 30px;
}


#pub{
    height: auto;
    padding: 0;
}

p{
    padding-top: 15px;
    padding-bottom: 15px;
}

.link-button{
    background-color: white;

    text-align: center;
    text-align-all: center;
    height: 50px;
    border-radius: 5px;

}
.link-button:link, .link-button:visited {
    background-color: white;
    color: blue;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


.link-button:active {
    background-color: grey;
}
/*
https://www.generationrobots.com/fr/400833-capteur-de-distance-infrarouge.html
 */
