.infos{
    text-align: center;
    width: 100%;
    min-height: 86vh;
    cursor: default;
}

h1{
    padding-top: 15px;
    padding-bottom: 5px;
    font-size: 60px;
}


.equipe{
    padding-top: 25px;
    font-size: 30px;
}

.mail{
    color: blue;
    font-size: 20px;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: gray;
    text-align: center;
    padding: 0 !important;
}

#2{
    background-color: red;
}