table{
    text-align: center;
    width: 100%;
    height: auto;
    cursor: default;
}

h1{
    padding-top: 15px;
    font-size: 60px;
}


.equipe{
    padding-top: 30px;
    font-size: 35px;
}

.mail{
    color: blue;
    font-size: 25px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: gray;
    text-align: center;
}

#2{
    background-color: red;
}