/* C'est dans Theme.css
body {
  background-color: #EDEEC9;
  font-family: 'Roboto', sans-serif;
}
*/

#form-container {
    font-size: 13px;
    margin: 30px 10px 0px 10px;
    padding-bottom: 0;
}

form {
    margin-top: 50px;
}

.space {
  height: 2em;
}

input {
  width: 100%;
}

/* C'est dans Theme.css
input{
    padding: 10px 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    font-size: 13px;
}
*/

#submit-button {
  cursor: pointer;
}

/* C'est dans Theme.css
input:focus {
  box-shadow: 0 0 5px rgba(152, 201, 163, 1);
  border: 1px solid rgba(152, 201, 163, 1);
}

input::placeholder {
    font-size: 11px;
}

input:focus::placeholder {
    color: rgba(152, 201, 163, 1);
}
*/

#formEnregistrement .error {
    box-shadow: 0 0 1px rgba(200, 0, 60, 1) inset;
    border: 1px solid rgba(200, 0, 60, 1);
}

#formEnregistrement .error:focus {
    box-shadow: 0 0 5px rgba(200, 0, 60, 1);
    border: 1px solid rgba(200, 0, 60, 1);
}

#formEnregistrement .error::placeholder {
    color: rgba(200, 0, 60, 1);
}

#formEnregistrement .error:focus::placeholder {
    color: rgba(200, 0, 60, 1);
}

#formEnregistrement .errorMessage {
    display: block;
    color: rgba(200, 0, 60, 1);
    margin-bottom: 4px;
    text-align: right;
}

#body #background-image {
    background: url("../images/pexels-photo-440313.jpeg") no-repeat;
    padding: 0;
    box-shadow: 3px 0px 15px #888888;
}

#body .row {
    height: 92.3vh;
}

h1 {
    text-align: center;
    color: rgba(160, 160, 160, 1);
}