* {
  margin: 0;
  padding: 0;
    font-family: 'Roboto', sans-serif;
}

.topNav {
    margin: 0;
    padding: 0;
    background-color: #53917E;
    list-style-type: none;
    overflow: hidden;
    color: white;
    /*font-size: 1em;
    height: 5.15em;*/
}

#dropdown-container {
    float: left;
}

.dropdown {
    margin: 0;
    padding: 0;
    background-color: #53917E;
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
}

.header-link-dropdown-responsive {
    padding: 2em 1.5em;
    display: none;
}

.header-link-dropdown-responsive:hover {
    background-color: #98C9A3;
}

.header-link-dropdown-responsive a {
    color: white;
}

.header-link-dropdown {
    padding: 2em 1.5em;
    text-align: center;
    font-size: 1em;
    height: 5em;
}

.header-link-dropdown:hover {
    background-color: #98C9A3;
}

.header-link-dropdown a {
    color: white;
    text-align: center;
    font-size: 1em;
    height: 5em;
}

.dropdown-content {
    display: none;
}

.dropped .dropdown-content{
    display: block;
    position: absolute;
    background-color: #53917E;
}

.dropped .dropdown-content a{
    color: white;
}

.topNav .header-link {
    float: left;
    height: 5em;
    padding: 2em 1.5em;
}

#logocontainer {
    float: left;
    height: 5em;
}

.topNav a {
    text-decoration: none;
    display: block;
}

.topNav .header-link a {
    color: white;
    text-align: center;
    font-size: 1em;
}

.header-link:hover {
    background-color: #98C9A3;
}

.topNav #logo {
    height: 3.5em;
    margin: 0.75em 1em 0.75em 1em;
}

.topNav #collapsible-icon {
    display: none;
}

.topNav .right {
    float: right;
}

#collapsible-icon:hover {
    background-color: darkslategrey;
}

@media screen and (max-width: 767px) {
    #dropdown-container {
        display: none;
    }

        .topNav li:not(:first-child) {
            display: none;
        }

        .topNav #collapsible-icon {
            display: block;
        }

        .topNav #collapsible-icon a {
            height: 5em;
        }

        .topNav #menu-button {
            height: 1.3em;
            margin: 1.85em 2em 1.85em 2em;
        }
}

@media screen and (max-width: 767px) {

    .responsive.topNav li:first-child {
        background-color: #98C9A3;
    }

    .responsive .header-link-dropdown-responsive {
        display: block !important;
    }

    .topNav.responsive {
        position: relative;
    }

    .topNav.responsive #collapsible-icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topNav.responsive .header-link {
        float: none;
        display: block;
    }

    .topNav.responsive .header-link a {
        text-align: left;
    }

    .topNav.responsive #logocontainer {
        display: block;
        float: none;
    }

    .topNav.responsive .header-link {
        height: auto;
    }
}